In [ ]:
print("Hello, World from Scala kernel!")

Intitializing Scala interpreter ...

In [2]:
import org.apache.spark.sql.{DataFrame, SparkSession};

import org.apache.spark.sql.{DataFrame, SparkSession}

In [14]:
def extract(spark: SparkSession): DataFrame = {
        // load titanic files as DataFrames
        val titanicPart1 = spark.read.format("csv").option("header", "true").load("data/titanic_part_1.txt")
        val titanicPart2 = spark.read.format("parquet").load("data/titanic_part_2.parquet")
        val titanicPart3 = spark.read.format("orc").load("data/titanic_part_3.orc")

        // combine DataFrames
        val titanic = titanicPart1.union(titanicPart2).union(titanicPart3)

        titanic
    }

    def load(titanic: DataFrame): DataFrame = {
        // write dataframe to csv
        titanic.write.format("csv").option("header", "true").save("data/titanic.csv")

        titanic
    }

    def transform(titanic: DataFrame): DataFrame = {
        val typedTitanic = typeVariables(titanic)
        val translatedTitanic = translateToEnglish(typedTitanic)
        
        translatedTitanic
    }

    def typeVariables(titanic: DataFrame): DataFrame = {
        val typedTitanic = titanic.select(titanic.columns.map {
            case column@("PassengerId" | "Survived" | "Pclass" | "SibSp" | "Parch") => titanic(column).cast("int").as(column)
            case column@("Age" | "Fare") => titanic(column).cast("double").as(column)
            case column => titanic(column).cast("string").as(column)
        }:_*)

        typedTitanic
    }

    def translateToEnglish(titanic: DataFrame): DataFrame = {
        titanic
    }

extract: (spark: org.apache.spark.sql.SparkSession)org.apache.spark.sql.DataFrame
load: (titanic: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame
transform: (titanic: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame
typeVariables: (titanic: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame
translateToEnglish: (titanic: org.apache.spark.sql.DataFrame)org.apache.spark.sql.DataFrame

In [5]:
var extractedTitanic = extract(spark)
var loadedTitanic = load(extractedTitanic)

extractedTitanic: org.apache.spark.sql.DataFrame = [PassengerId: string, Survived: string ... 10 more fields]
loadedTitanic: org.apache.spark.sql.DataFrame = [PassengerId: string, Survived: string ... 10 more fields]
transformedTitanic: Unit = ()

In [18]:
loadedTitanic.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [15]:
var transformedTitanic = transform(loadedTitanic)

transformedTitanic: org.apache.spark.sql.DataFrame = [PassengerId: int, Survived: int ... 10 more fields]

In [16]:
transformedTitanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)